.carousel-image {
    max-width: 1200px; /* Establece el tamaño máximo de las imágenes en píxeles */
    width: 100%; /* Hace que las imágenes ocupen el 100% del contenedor */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */

}

 #carouselExampleAutoplaying {
padding-top: 10px;
padding-bottom: 40px;
}

.carousel-inner {
    text-align: center; /* Alinea el contenido del carousel horizontalmente */
}

#custom .rounded-circle {
    border: 2px solid black; /* Color del borde y ancho del borde */
}

